.input-field{
    width: 300px;

    label{
        display: block;
        margin-bottom: 4px;
        width: fit-content;
        font-size: 14px;
        line-height: 19px;
        color: var(--grey-7);

        & > i{
            position: relative;
            top: 2px;
            font-size: 16px;

            .help{
                position: absolute;
                left: calc(100% + 8px);
                padding: 4px 6px;
                width: 100px;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.24px;
                color: var(--grey-1);
                background-color: var(--grey-8);
                border-radius: 4px;
                box-sizing: border-box;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s;
                z-index: 1;
            }

            &:hover{
                color: var(--grey-8);
                
                .help{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .input-field-wrapper{
        position: relative;
        display: inline-block;
        width: 100%;

        input{
            padding: 8px 12px;
            width: 100%;
            font-size: 14px;
            line-height: 19px;
            color: var(--grey-8);
            background-color: var(--grey-1);
            border: 1px solid var(--grey-4);
            border-radius: 4px;
            box-sizing: border-box;
            transition: all 0.3s;

            &::placeholder{
                color: var(--grey-6);
            }

            &:hover:not(:disabled):not(.error){
                border-color: var(--grey-5);
            }

            &:focus,
            &:focus-visible{
                outline: none;
                border-color: var(--theme-100) !important;
            }

            &:disabled{
                color: var(--grey-6);
                background-color: var(--grey-3);
                pointer-events: none;
            }

            &.error{
                border-color: var(--error-100);

                &.error-clear{
                    padding-right: 25px;
                }
            }

            &.credit-card,
            &.icon,
            &.image{
                padding-left: 41px;
            }

            &[type='file']{
                overflow: hidden;
                padding-left: 45px;
                cursor: pointer;

                &::file-selector-button{
                    display: none;
                }
            }

            &[type='number']{
                padding-right: 32px;
                width: 150px;
                text-align: right;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

        &.file{

            &:before{
                content: "\e908";
                position: absolute;
                top: 1px;
                left: 1px;
                padding: 7px 11px;
                height: calc(100% - 2px);
                font-family: 'pollen';
                font-size: 16px;
                color: var(--grey-7);
                background-color: var(--grey-4);
                box-sizing: border-box;
                transition: background-color 0.3s, color 0.3s;
                pointer-events: none;
            }

            &:hover:not(:disabled),
            &:active:not(:disabled){
                &:before{
                    background-color: var(--theme-20);
                    color: var(--grey-8);
                }
            }
        }

        &.number,
        &.numberSecondary{
            width: 150px;

            &.numberSecondary{

                input{
                    text-align: center;
                }
            }
        }

        .error-dismiss{
            position: absolute;
            top: 12px;
            right: 9px;
            font-size: 12px;
            color: var(--error-100);
            cursor: pointer;
        }

        a.input-detail{
            display: block;
            position: absolute;
            top: 9px;
            right: 12px;
            font-size: 14px;
            line-height: 19px;
            color: var(--theme-100);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        .tag{
            position: absolute;
            top: 6px;
            left: 6px;
            padding: 3px 4px;
            font-size: 14px;
            line-height: 19px;
            color: var(--grey-7);
            background-color: var(--grey-3);
            border-radius: 4px;

            &.disabled{
                color: var(--grey-7) !important;
                background-color: var(--grey-1) !important;
            }
        }

        .field-icon{
            position: absolute;
            top: 8px;
            left: 12px;
            font-size: 20px;
            color: var(--grey-7);

            img{
                position: relative;
                top: -3px;
                width: 20px;
                vertical-align: middle;
                pointer-events: none;
            }
        }

        .select{
            position: absolute;
            top: 6px;
            left: 6px;
            width: fit-content;

            & > div:not(.dropdown){
                position: relative;
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 3px 24px 3px 4px;
                width: fit-content;
                font-size: 14px;
                line-height: 19px;
                color: var(--grey-7);
                background-color: var(--grey-3);
                border: 0;
                border-radius: 4px;
                box-sizing: border-box;
                cursor: pointer;
                transition: background-color 0.3s;

                &:before{
                    content: "\e64b";
                    position: absolute;
                    top: 3px;
                    right: 4px;
                    font-family: 'pollen';
                    font-size: 12px;
                    color: var(--grey-7);
                }

                &:hover{
                    background-color: var(--grey-4);
                }
            }

            .dropdown{
                position: relative;
                top: 9px;
                padding: 8px;
                width: fit-content;
                background-color: var(--grey-1);
                border: 1px solid var(--grey-4);
                border-radius: 4px;
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                transition: opacity 0.3s;

                .option{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 6px;
                    padding: 4px 0;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--grey-7);
                    cursor: pointer;
                    transition: color 0.4s;

                    &:hover,
                    &.selected{
                        color: var(--grey-8);
                    }
                }
            }

            img{
                height: 18px;
                width: 24px;
            }

            select{
                display: none;
            }

            &.open{

                & > div:not(.dropdown){

                    &:before{
                        content: "\e648";
                    }
                }

                .dropdown{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .number-controls{
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            font-size: 10px;
            color: var(--grey-8);

            & > div{
                cursor: pointer;

                &.disabled{
                    color: var(--grey-6);
                    pointer-events: none;
                }
            }

            &.disabled{

                & > div{
                    color: var(--grey-6) !important;
                    pointer-events: none;
                }
            }
        }

        &.numberSecondary{

            input{
                padding-right: 34px;
                padding-left: 34px;
            }

            .number-controls{
                top: 0;
                right: unset;
                left: 0;
                display: block;
                width: 100%;
                font-size: 12px;
                color: var(--theme-100);

                & > div{
                    position: absolute;
                    top: 7px;
                    right: 6px;
                    height: 22px;
                    width: 22px;
                    color: var(--theme-100);
                    line-height: 22px;
                    text-align: center;
                    background-color: var(--theme-20);
                    border-radius: 4px;
                    cursor: pointer;

                    &.value-down{
                        right: unset;
                        left: 6px;
                    }

                    &.disabled{
                        color: var(--grey-7);
                        background-color: var(--grey-3);
                        pointer-events: none;
                    }
                }

                &.disabled{
                    
                    & > div{
                        color: var(--grey-6) !important;
                        background-color: var(--grey-1) !important;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .error-message{
        margin-top: 2px;
        font-size: 12px;
        line-height: 16px;
        color: var(--grey-8);
    }

    .description{
        padding-top: 4px;
        font-size: 12px;
        line-height: 16px;
        color: var(--grey-7);
    }

    &.small{

        label{
            font-size: 12px;
            line-height: 16px;

            & > i{
                top: 1px;
                font-size: 12px;
            }
        }

        .input-field-wrapper{

            input{
                padding: 4px 8px;
                font-size: 12px;
                line-height: 16px;

                &.credit-card,
                &.icon,
                &.image{
                    padding-left: 30px;
                }

                &[type='file']{
                    padding-left: 40px;
                }

                &.error-clear{
                    padding-right: 25px;
                }
            }

            .error-dismiss{
                top: 7px;
            }

            .tag{
                top: 4px;
                left: 4px;
                padding: 1px 4px;
                font-size: 12px;
                line-height: 16px;
            }

            .input-detail{
                top: 5px;
                right: 8px;
                font-size: 12px;
                line-height: 16px;
            }

            .field-icon{
                top: 5px;
                left: 8px;
                font-size: 16px;

                img{
                    width: 16px;
                }
            }

            .select{
                top: 4px;
                left: 4px;

                & > div:not(.dropdown){
                    font-size: 12px;
                    line-height: 16px;
                    gap: 4px;
                    padding: 1px 20px 1px 4px;

                    &:before{
                        top: 2px;
                        font-size: 8px;
                    }
                }

                .dropdown{
                    top: 7px;

                    .option{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }

                img{
                    height: 12px;
                }
            }

            &.file{

                &:before{
                    padding: 5px 10px;
                    font-size: 12px;
                }
            }

            &.numberSecondary{

                input{
                    padding: 4px 26px;
                }

                .number-controls{
                    font-size: 8px;

                    & > div{
                        top: 5px;
                        right: 5px;
                        height: 16px;
                        width: 16px;
                        line-height: 16px;

                        &.value-down{
                            left: 5px;
                        }
                    }
                }
            }

            &.number{

                input{
                    padding-right: 18px;
                }

                .number-controls{
                    top: 5px;
                    right: 5px;
                    gap: 0;
                    font-size: 8px;
                }
            }
        }

        .description,
        .error-message{
            font-size: 10px;
            line-height: 13px;
        }
    }

    &.large{

        label{
            font-size: 16px;
            line-height: 21px;

            & > i{

                .help{
                    padding: 8px;
                    width: 120px;
                    font-size: 14px;
                    line-height: 12px;
                }
            }
        }

        .input-field-wrapper{
            input{
                padding: 12px 16px;
                font-size: 16px;
                line-height: 21px;

                &.credit-card,
                &.icon,
                &.image{
                    padding-left: 52px;
                }

                &[type='file']{
                    padding-left: 60px;
                }

                &.error-clear{
                    padding-right: 35px;
                }
            }

            .error-dismiss{
                top: 15px;
                right: 12px;
                font-size: 16px;
            }

            .tag{
                top: 8px;
                left: 8px;
                padding: 4px 8px;
                font-size: 16px;
                line-height: 21px;
            }

            .input-detail{
                top: 12px;
                right: 16px;
                font-size: 16px;
                line-height: 21px;
            }

            .field-icon{
                top: 11px;
                left: 16px;
                font-size: 24px;

                img{
                    top: -5px;
                    width: 24px;
                }
            }

            .select{
                top: 8px;
                left: 8px;

                & > div:not(.dropdown){
                    font-size: 16px;
                    line-height: 21px;
                    gap: 8px;
                    padding: 4px 28px 4px 8px;

                    &:before{
                        top: 5px;
                        right: 8px;
                        font-size: 12px;
                    }
                }

                .dropdown{
                    top: 13px;

                    .option{
                        font-size: 16px;
                        line-height: 21px;
                    }
                }

                img{
                    height: 20px;
                }
            }

            &.file{

                &:before{
                    padding: 10px 14px;
                    font-size: 20px;
                }
            }

            &.numberSecondary{

                input{
                    padding-left: 42px;
                    padding-right: 42px;
                }

                .number-controls{
                    font-size: 16px;

                    & > div{
                        top: 8px;
                        right: 8px;
                        height: 30px;
                        width: 30px;
                        line-height: 30px;

                        &.value-down{
                            left: 8px;
                        }
                    }
                }
            }

            &.number{

                input{
                    padding-right: 32px;
                }

                .number-controls{
                    top: 11px;
                    right: 10px;
                    gap: 0;
                    font-size: 12px;
                }
            }
        }
    }
}