<pri-input-field    type="{{type}}" 
                    tag="{{tag}}"
                    placeholder="{{placeholder}}"
                    value="{{value}}"
                    label="{{label}}"
                    extraClasses="{{extraClasses}}"
                    help="{{help}}"
                    icon="{{icon}}"
                    [isDisabled]="isDisabled"
                    [hasError]="hasError"
                    errorMessage="{{errorMessage}}"
                    [min]="min"
                    [max]="max"
                    tag="{{tag}}"
                    size="{{size}}"></pri-input-field>