@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body * {
  font-family: "Roboto" !important;
}
:root {
    /* PRODUCT COLORS */
    --theme-highlight: #0D0D82;
    --theme-100: #304CD1;
    --theme-80: #4D68EB;
    --theme-60: #6E86FF;
    --theme-40: #A1B0FF;
    --theme-20: #D4DBFF;
    --theme-10: #EDF0FF;

    /* GREY COLORS */
    --grey-1: #FEFEFE;
    --grey-2: #F5F6F8; /* Highlights;*/
    --grey-3: #EDEFF5; /* Backgrounds; */
    --grey-4: #DCE0ED; /* Borders, Hovers; */
    --grey-5: #CACFD9;
    --grey-6: #A3AABC; /* Disabled texts; */
    --grey-7: #7A8193; /* Secondary texts; */
    --grey-8: #393F4D; /* Main texts; */

    --white: #fff;
    --black: #000;

    /* SHADOWS */
    --shadow-1: #00000026;
    --shadow-2: #00000019;
    --shadow-3: #00000026;
    --shadow-4: #00000026;
    --shadow-5: #00000026;
    --shadow-6: #00000026;

    /* STATE COLORS */
    /* info */
    --info-highlight: #0061E6;
    --info-100: #0064FF; /* Informative messages, Links, Buttons in neutral platforms; */
    --info-80: #3385FF;
    --info-60: #66A3FF;
    --info-40: #99C2FF;
    --info-20: #CCE0FF;
    --info-10: #E6F0FF;
    /* error */
    --error-highlight: #82061B;
    --error-100: #CF0A2C; /* Critical or negative messages and states, Errors; */
    --error-80: #D93B56;
    --error-60: #E26C80;
    --error-40: #EC9DAB;
    --error-20: #F5CED5;
    --error-10: #FAE6EA;
    /* warning */
    --warning-highlight: #B06A22;
    --warning-100: #EF912F; /* Alert messages and states; */
    --warning-80: #F2A759;
    --warning-60: #F5BD82;
    --warning-40: #F9D3AC;
    --warning-20: #FCE9D5;
    --warning-10: #FDF4EA;
    /* success */
    --success-highlight: #22A876;
    --success-100: #2CD696; /* Positive messages and states; */
    --success-80: #56DEAB;
    --success-60: #80E6C0;
    --success-40: #ABEFD5;
    --success-20: #D5F7EA;
    --success-10: #EAFBF4;
}
@font-face {
  font-family: 'pollen';
  src:  url('pollen.eot?drshj9');
  src:  url('pollen.eot?drshj9#iefix') format('embedded-opentype'),
    url('pollen.woff2?drshj9') format('woff2'),
    url('pollen.ttf?drshj9') format('truetype'),
    url('pollen.woff?drshj9') format('woff'),
    url('pollen.svg?drshj9#pollen') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"], [class*=" ti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pollen' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-ux-view-outline:before {
  content: "\e964";
}

.ti-ux-hide-fill:before {
  content: "\e963";
}

.ti-ux-overview-outline:before {
  content: "\e916";
}

.ti-ux-overview-fill:before {
  content: "\e915";
}

.ti-ux-system-outline:before {
  content: "\e92a";
}

.ti-ux-system-fill:before {
  content: "\e929";
}

.ti-ux-dimensions-ouline:before {
  content: "\e93d";
}

.ti-ux-dimensions-fill:before {
  content: "\e93c";
}

.ti-ux-assets-outline:before {
  content: "\e959";
}

.ti-ux-assets-fill:before {
  content: "\e958";
}

.ti-ux-results-outline:before {
  content: "\e926";
}

.ti-ux-results-fill:before {
  content: "\e925";
}

.ti-ux-orders-outline:before {
  content: "\e947";
}

.ti-ux-orders-fill:before {
  content: "\e946";
}

.ti-ux-returns-outline:before {
  content: "\e945";
}

.ti-ux-returns-fill:before {
  content: "\e944";
}

.ti-ux-settings-outline:before {
  content: "\e962";
}

.ti-ux-settings-fill:before {
  content: "\e961";
}

.ti-ux-explorations-outline:before {
  content: "\e96d";
}

.ti-ux-explorations-fill:before {
  content: "\e96c";
}

.ti-ux-deliveries-outline:before {
  content: "\e954";
}

.ti-ux-deliveries-fill:before {
  content: "\e953";
}

.ti-ux-suppliers-outline:before {
  content: "\e960";
}

.ti-ux-suppliers-fill:before {
  content: "\e95f";
}

.ti-ux-trash:before {
  content: "\e93a";
}

.ti-ux-line:before {
  content: "\e906";
}

.ti-ux-add:before {
  content: "\e935";
}

.ti-ux-plus-outline:before {
  content: "\e994";
}

.ti-ux-plus-fill:before {
  content: "\e995";
}

.ti-ux-plus-square:before {
  content: "\e9c2";
}

.ti-ux-minus-square:before {
  content: "\e9c0";
}

.ti-ux-minus-outline:before {
  content: "\e990";
}

.ti-ux-minus-fill:before {
  content: "\e991";
}

.ti-ux-equal:before {
  content: "\e9b6";
}

.ti-ux-equal-circle:before {
  content: "\e9ba";
}

.ti-ux-copy-duplicate:before {
  content: "\e948";
}

.ti-ux-process:before {
  content: "\e955";
}

.ti-ux-route:before {
  content: "\34";
}

.ti-ux-download2:before {
  content: "\e981";
}

.ti-ux-upload2:before {
  content: "\e982";
}

.ti-ux-upload:before {
  content: "\e6b2";
}

.ti-ux-download:before {
  content: "\e6b3";
}

.ti-ux-import:before {
  content: "\e9a4";
}

.ti-ux-export:before {
  content: "\e9a5";
}

.ti-ux-refresh:before {
  content: "\e980";
}

.ti-ux-pin-outline:before {
  content: "\e97e";
}

.ti-ux-pin-fill:before {
  content: "\e97d";
}

.ti-ux-unpin:before {
  content: "\e902";
}

.ti-ux-time:before {
  content: "\e66e";
}

.ti-ux-email:before {
  content: "\e75a";
}

.ti-ux-load:before {
  content: "\e9bf";
}

.ti-ux-change:before {
  content: "\e914";
}

.ti-ux-crop:before {
  content: "\e9b1";
}

.ti-ux-shortcut:before {
  content: "\e99b";
}

.ti-ux-search:before {
  content: "\e610";
}

.ti-ux-save:before {
  content: "\e746";
}

.ti-ux-revert:before {
  content: "\e998";
}

.ti-ux-print:before {
  content: "\e681";
}

.ti-ux-edit:before {
  content: "\e61c";
}

.ti-ux-camera:before {
  content: "\e64e";
}

.ti-ux-favourite-outline:before {
  content: "\e60a";
}

.ti-ux-favourite-fill:before {
  content: "\e9ca";
}

.ti-ux-check-box:before {
  content: "\e64d";
}

.ti-ux-filter:before {
  content: "\e938";
}

.ti-ux-filter-fill:before {
  content: "\e93b";
}

.ti-ux-power-off:before {
  content: "\e682";
}

.ti-ux-eraser:before {
  content: "\e6a5";
}

.ti-ux-drag:before {
  content: "\e996";
}

.ti-ux-dashboard-outline:before {
  content: "\e92c";
}

.ti-ux-dashboard-fill:before {
  content: "\e92b";
}

.ti-ux-sales-outline:before {
  content: "\e91a";
}

.ti-ux-sales-fill:before {
  content: "\e919";
}

.ti-ux-purchases-outline:before {
  content: "\e91c";
}

.ti-ux-purchases-fill:before {
  content: "\e91b";
}

.ti-ux-expenses-outline:before {
  content: "\e928";
}

.ti-ux-expenses-fill:before {
  content: "\e927";
}

.ti-ux-stock-outline:before {
  content: "\e922";
}

.ti-ux-stock-fill:before {
  content: "\e921";
}

.ti-ux-taxes-outline:before {
  content: "\e924";
}

.ti-ux-taxes-fill:before {
  content: "\e923";
}

.ti-ux-office-mgnt-outline:before {
  content: "\e95c";
}

.ti-ux-office-mgnt-fill:before {
  content: "\e95b";
}

.ti-ux-pay-rec-outline:before {
  content: "\e91e";
}

.ti-ux-pay-rec-fill:before {
  content: "\e91d";
}

.ti-ux-bank-outline:before {
  content: "\e920";
}

.ti-ux-bank-fill:before {
  content: "\e91f";
}

.ti-ux-fiscalendar-outline:before {
  content: "\e930";
}

.ti-ux-fiscalendar-fill:before {
  content: "\e92f";
}

.ti-ux-calendar-outline:before {
  content: "\e976";
}

.ti-ux-calendar-fill:before {
  content: "\e978";
}

.ti-ux-chat:before {
  content: "\e643";
}

.ti-ux-apps:before {
  content: "\e913";
}

.ti-ux-salary-outline:before {
  content: "\e975";
}

.ti-ux-salary-fill:before {
  content: "\e974";
}

.ti-ux-draft-outline:before {
  content: "\e92e";
}

.ti-ux-draft-fill:before {
  content: "\e92d";
}

.ti-ux-accounting-outline:before {
  content: "\e918";
}

.ti-ux-accounting-fill:before {
  content: "\e917";
}

.ti-ux-support:before {
  content: "\e912";
}

.ti-ux-calendar:before {
  content: "\e93e";
}

.ti-ux-messages:before {
  content: "\e956";
}

.ti-ux-quickactions:before {
  content: "\e90f";
}

.ti-ux-alerts:before {
  content: "\e910";
}

.ti-ux-energy:before {
  content: "\e9b5";
}

.ti-ux-integration-outline:before {
  content: "\e96f";
}

.ti-ux-integration-fill:before {
  content: "\e96e";
}

.ti-ux-quickguide:before {
  content: "\e997";
}

.ti-ux-attach:before {
  content: "\e647";
}

.ti-ux-history:before {
  content: "\e900";
}

.ti-ux-database:before {
  content: "\e999";
}

.ti-ux-bag:before {
  content: "\e9a6";
}

.ti-ux-catalog-items-outline:before {
  content: "\e941";
}

.ti-ux-catalog-items-fill:before {
  content: "\e940";
}

.ti-ux-catalog-pub-outline:before {
  content: "\e943";
}

.ti-ux-catalog-pub-fill:before {
  content: "\e942";
}

.ti-ux-catalog-outline:before {
  content: "\e94e";
}

.ti-ux-catalog-fill:before {
  content: "\e94d";
}

.ti-ux-folder-outline:before {
  content: "\e908";
}

.ti-ux-folder-fill:before {
  content: "\e907";
}

.ti-ux-list-view:before {
  content: "\e939";
}

.ti-ux-card-view:before {
  content: "\e936";
}

.ti-ux-information:before {
  content: "\e911";
}

.ti-ux-collapse-list:before {
  content: "\e937";
}

.ti-ux-align-right:before {
  content: "\e6c1";
}

.ti-ux-align-left:before {
  content: "\e6c2";
}

.ti-ux-align-justify:before {
  content: "\e6c3";
}

.ti-ux-align-center:before {
  content: "\e6c4";
}

.ti-ux-bold:before {
  content: "\e9ae";
}

.ti-ux-italic:before {
  content: "\e696";
}

.ti-ux-underline:before {
  content: "\e66c";
}

.ti-ux-strikethrough:before {
  content: "\e9c4";
}

.ti-ux-link:before {
  content: "\e62d";
}

.ti-ux-launch:before {
  content: "\e97f";
}

.ti-ux-decrease-indent:before {
  content: "\e9b2";
}

.ti-ux-increase-indent:before {
  content: "\e9bc";
}

.ti-ux-asterisk:before {
  content: "\e9ab";
}

.ti-ux-usd:before {
  content: "\e68c";
}

.ti-ux-trending-up2:before {
  content: "\e9a1";
}

.ti-ux-trending-down2:before {
  content: "\e99d";
}

.ti-ux-trending-up:before {
  content: "\e9a0";
}

.ti-ux-trending-right:before {
  content: "\e99f";
}

.ti-ux-trending-left:before {
  content: "\e99e";
}

.ti-ux-trending-down:before {
  content: "\e99c";
}

.ti-ux-clipboard:before {
  content: "\e6b4";
}

.ti-ux-table-options:before {
  content: "\e984";
}

.ti-ux-column-group:before {
  content: "\e983";
}

.ti-ux-menu:before {
  content: "\e68e";
}

.ti-ux-layout-grid:before {
  content: "\e708";
}

.ti-ux-layers:before {
  content: "\e630";
}

.ti-ux-iva-outline:before {
  content: "\e932";
}

.ti-ux-iva-fill:before {
  content: "\e931";
}

.ti-ux-invoice-outline:before {
  content: "\e950";
}

.ti-ux-invoice-fill:before {
  content: "\e94f";
}

.ti-ux-credit-debit-outline:before {
  content: "\e952";
}

.ti-ux-credit-debit-fill:before {
  content: "\e951";
}

.ti-ux-contracts-outline:before {
  content: "\e96b";
}

.ti-ux-contracts-fill:before {
  content: "\e96a";
}

.ti-ux-process-change-outline:before {
  content: "\e973";
}

.ti-ux-process-change-fill:before {
  content: "\e972";
}

.ti-ux-approvals-outline:before {
  content: "\e967";
}

.ti-ux-approvals-fill1:before {
  content: "\e977";
}

.ti-ux-official-reports-outline:before {
  content: "\e971";
}

.ti-ux-official-reports-fill:before {
  content: "\e970";
}

.ti-ux-register:before {
  content: "\e95d";
}

.ti-ux-approvals-fill:before {
  content: "\e9a8";
}

.ti-ux-approvals:before {
  content: "\e99a";
}

.ti-ux-file:before {
  content: "\e90b";
}

.ti-ux-file-processing:before {
  content: "\e905";
}

.ti-ux-equipment:before {
  content: "\32";
}

.ti-ux-tool:before {
  content: "\33";
}

.ti-ux-work-outline:before {
  content: "\e966";
}

.ti-ux-work-fill:before {
  content: "\e965";
}

.ti-ux-image:before {
  content: "\e9bb";
}

.ti-ux-picture:before {
  content: "\e93f";
}

.ti-ux-expand:before {
  content: "\e909";
}

.ti-ux-collapse:before {
  content: "\e90a";
}

.ti-ux-upgrade:before {
  content: "\e94b";
}

.ti-ux-downgrade:before {
  content: "\e949";
}

.ti-ux-retry:before {
  content: "\e95a";
}

.ti-ux-revert-dots:before {
  content: "\e957";
}

.ti-ux-step-down:before {
  content: "\e97c";
}

.ti-ux-undo:before {
  content: "\e9c7";
}

.ti-ux-redo:before {
  content: "\e9c3";
}

.ti-ux-arrows-vertical:before {
  content: "\e657";
}

.ti-ux-arrows-horizontal:before {
  content: "\e658";
}

.ti-ux-shrink:before {
  content: "\e904";
}

.ti-ux-fullscreen:before {
  content: "\e903";
}

.ti-ux-trending-down-circle:before {
  content: "\e9c1";
}

.ti-ux-back-one:before {
  content: "\e9ad";
}

.ti-ux-back:before {
  content: "\e9ac";
}

.ti-ux-fwd:before {
  content: "\e9b8";
}

.ti-ux-fwd-last:before {
  content: "\e9b9";
}

.ti-ux-exit:before {
  content: "\e9b7";
}

.ti-ux-chevron-down:before {
  content: "\e64b";
}

.ti-ux-chevron-left:before {
  content: "\e64a";
}

.ti-ux-chevron-up:before {
  content: "\e648";
}

.ti-ux-chevron-right:before {
  content: "\e649";
}

.ti-ux-big-arrow-left-line:before {
  content: "\e901";
}

.ti-ux-arrow-left:before {
  content: "\e629";
}

.ti-ux-arrow-right:before {
  content: "\e628";
}

.ti-ux-close:before {
  content: "\e646";
}

.ti-ux-close-fill:before {
  content: "\e989";
}

.ti-ux-close-outline:before {
  content: "\e988";
}

.ti-ux-chevron-circle-right:before {
  content: "\e65d";
}

.ti-ux-more-horizontal:before {
  content: "\e6e2";
}

.ti-ux-more-vertical:before {
  content: "\e993";
}

.ti-ux-down:before {
  content: "\e9b3";
}

.ti-ux-up:before {
  content: "\e9c8";
}

.ti-ux-home:before {
  content: "\e985";
}

.ti-ux-company-activated:before {
  content: "\e9a2";
}

.ti-ux-company-deactivated:before {
  content: "\e9a3";
}

.ti-ux-organizations:before {
  content: "\e90e";
}

.ti-ux-company-config-fill:before {
  content: "\e968";
}

.ti-ux-company-config-outline:before {
  content: "\e969";
}

.ti-ux-location:before {
  content: "\31";
}

.ti-ux-user:before {
  content: "\e602";
}

.ti-ux-user-fill:before {
  content: "\e95e";
}

.ti-ux-company-logo:before {
  content: "\e97b";
}

.ti-ux-subscriptions:before {
  content: "\e90d";
}

.ti-ux-subscriptions-circle:before {
  content: "\e90c";
}

.ti-ux-instagram:before {
  content: "\e986";
}

.ti-ux-facebook:before {
  content: "\e987";
}

.ti-ux-vimeo:before {
  content: "\e98a";
}

.ti-ux-linkedin:before {
  content: "\e98b";
}

.ti-ux-youtube:before {
  content: "\e98c";
}

.ti-ux-tiktok:before {
  content: "\e98d";
}

.ti-ux-forbidden:before {
  content: "\e94a";
}

.ti-ux-warning:before {
  content: "\e94c";
}

.ti-ux-warning-fill:before {
  content: "\e94cc";
}

.ti-ux-alert-outline:before {
  content: "\e934";
}

.ti-ux-alert-fill:before {
  content: "\e933";
}

.ti-ux-success:before {
  content: "\e979";
}

.ti-ux-info-circle:before {
  content: "\e97a";
}

.ti-ux-info-circle-fill:before {
  content: "\e992";
}

.ti-ux-info:before {
  content: "\e697";
}

.ti-ux-help-outline:before {
  content: "\e98e";
}

.ti-ux-help-fill:before {
  content: "\e98f";
}

.ti-ux-check:before {
  content: "\e64c";
}

.ti-ux-null-percentage:before {
  content: "\25";
}

.ti-ux-null-space:before {
  content: "\20";
}

.ti-ux-null-zero:before {
  content: "\30";
}

.ti-ux-null-point:before {
  content: "\2e";
}

.ti-ux-null-comma:before {
  content: "\2c";
}

